@using Pizzeria.Services
@model Pizzeria.Models.CreateDishViewModel
@inject Pizzeria.Services.CategoryService CategoryService
@inject Pizzeria.Services.IngredientService IngredientService

@{
    ViewData["Title"] = "Create";
    var selectList = CategoryService.GetSelectList();
    var ingredients = IngredientService.All();
     }

<h2>Create</h2>

<h4>Dish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Dish.Name" class="control-label"></label>
                <input asp-for="@Model.Dish.Name" class="form-control" />
                <span asp-validation-for="@Model.Dish.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Dish.Price" class="control-label"></label>
                <input asp-for="@Model.Dish.Price" class="form-control" />
                <span asp-validation-for="@Model.Dish.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Dish.Category" class="control-label"></label>
                @{
                    <select asp-for="@Model.Dish.CategoryId" asp-items="@selectList"></select>
                }
                <span asp-validation-for="@Model.Dish.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    for (var i = 0; i < Model.Ingredients.Count(); i++)
                    {
                        <input type="checkbox" asp-for="@Model.Ingredients[i].Selected"/>
                        <label asp-for="@Model.Ingredients[i].Selected"> @Model.Ingredients[i].Name</label>
                        <input type="hidden" asp-for="@Model.Ingredients[i].Id"/>
                        <input type="hidden" asp-for="@Model.Ingredients[i].Name"/>
                        <br/>
                    }
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
