@model CheckoutInfo
@inject Pizzeria.Services.OrderService OrderService

@{
    var order = OrderService.GetOrder(Model.OrderId);
}

<!DOCTYPE html>

<html>
<head>

    <title>Your order</title>
</head>
<body>
<div style="float: left; margin-right:2%; width:48%">
    <table class="payTable" style="width: 48%;">
        <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var basketItem in order.Basket.Items)
            {
                var price = basketItem.Dish.Price * basketItem.Quantity;
            
                <tr>
                        @{
                            if (basketItem.Name != null)
                            {
                                <td>@basketItem.Name</td>                               
                            }
                            else
                            {
                                <td>@basketItem.Dish.Name</td>
                            }
                        }
                    <td>
                        @basketItem.Quantity
                    </td>
                    <td>
                        @price
                    </td>
                </tr>
            }
        }    
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td>Shipping</td>
            <td>@order.Shipping</td>
        </tr>
        <tr>
            <td></td>
            <td>Total</td>
            <td>@order.Total</td>
        </tr>
        </tfoot>
    </table>
</div>
    
    
<div style="float: left;width: 50%" id="AddressTable">
    <table class="payTable"style="width: 50%">
        <thead>
        <tr>
            <th>
                Posting address
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>@Model.FirstName @Model.LastName</td>         
        </tr>
        <tr>
            <td>@Model.PostingAddress</td>
        </tr>
        <tr>
            <td>@Model.PostalCode @Model.City</td>
        </tr>
        <tr>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>@Model.PhoneNumber</td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-default" id="ChangeBtn">Change</button>   
</div>
    
@*Change shipping address form*@
<form asp-action="Payment" id="ChangeForm"hidden>
    <div style="float: left;width: 50%">
        <table class="payTable"style="width: 50%">
            <thead>
            <tr>
                <th>
                    Recipient information
                </th>
            </tr>
            </thead>
            <tbody>           
            <tr>
                <td>
                    <input asp-for="Id"type="hidden"/>
                    <input asp-for="OrderId" type="hidden"/>

                    <input asp-for="FirstName" type="text" value="@Model.FirstName" placeholder="First name"/>
                    <input asp-for="LastName" type="text" value="@Model.LastName" placeholder="Last Name"/>
                </td>
            </tr>
            <tr>
                <td><input asp-for="PostingAddress" type="text" value="@Model.PostingAddress" placeholder="Posting address"/></td>
            </tr>
            <tr>
                <td>
                    <input asp-for="PostalCode" type="number" value="@Model.PostalCode" placeholder="Postal code"/>
                    <input asp-for="City" type="text" value="@Model.City" placeholder="City"/>
                </td>
            </tr>
            <tr>
                <td><input asp-for="Email" type="email" value="@Model.Email" placeholder="Email"/></td>
            </tr>
            <tr>
                <td><input asp-for="PhoneNumber" type="number" value="@Model.PhoneNumber" placeholder="Phone Number"/></td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-default" type="submit">Save changes</button>   
    </div>
</form>

<div class="col-md-12">
    <div>
        <h2>Choose payment method</h2>
    </div>
    @*Pay with MasterCard*@
    <div><button class="btn btn-default" id="MasterCardBtn">Master Card</button></div>
    <div hidden id="PayMaster">
        <div>Enter your credit card number</div>
        <div>
            <input type='number' id="MasterNumber" placeholder="Enter Credit card number" style="width:200px"/>
        </div>
        <div>
            <button id="ValidateMasterBtn" class="btn btn-info">Pay</button>
        </div>
    </div>
    @*Pay with Visa*@
    <div><button class="btn btn-default" id="VisaBtn">Visa</button></div>
    <div hidden id="PayVisa">
        <div>Enter your credit card number</div>
        <div>
            <input type='number' id="VisaNumber" placeholder="Enter Credit card number" style="width:200px" />
        </div>
        <div>
            <button id="ValidateVisaBtn" class="btn btn-info">Pay</button>
        </div>
    </div>
    
    --OR--
    <h3>Pay with Paypal</h3>
    <div>
        <a data-paypal-button="true" style="float: left">
            <img src="//www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif" alt="Check out with PayPal"/>
        </a>
    </div>

</div>

<script type="text/javascript">
    document.getElementById("ChangeBtn").addEventListener('click',
        function() {
            document.getElementById("AddressTable").style.display = 'none';
            document.getElementById("ChangeForm").style.display = 'block';
        });

    document.getElementById("VisaBtn").addEventListener('click', function() {
        document.getElementById("PayMaster").style.display = 'none';
        document.getElementById("PayVisa").style.display = 'block';
    });

    document.getElementById("MasterCardBtn").addEventListener('click', function() {
        document.getElementById("PayVisa").style.display = 'none';
        document.getElementById("PayMaster").style.display = 'block';
    });

    //Credit card validation
    document.getElementById("ValidateMasterBtn").addEventListener('click', function () {
        var inputTxt = document.getElementById("MasterNumber");
        var cardno = /^(?:5[1-5][0-9]{14})$/;
        if (inputTxt.value.match(cardno)) {

            var url = '@Url.Action("Confirmation", "Orders")';
            window.location.href = url;
        }
        else {
            alert("Not a valid Mastercard number!");
        }
    });

    document.getElementById("ValidateVisaBtn").addEventListener('click', function () {
        var inputTxt = document.getElementById("VisaNumber");
        var cardno = /^(?:4[0-9]{12}(?:[0-9]{3})?)$/;
        if (inputTxt.value.match(cardno)) {

            var url = '@Url.Action("Confirmation", "Orders")';
            window.location.href = url;
        }
        else {
            alert("Not a valid Visa number!");
        }
    });
      
</script>
</body>
</html>